# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Dependencies / build output
node_modules/
dist/
build/
out/
target/

# Env
.env
.env.*
!.env.example

# Logs
*.log
dist-ssr/
*.local
devdata/
